body {
    font-family: 'Poppins', sans-serif;
}
:root {
    --swiper-theme-color: #FFF;
}
/* START ASSETS */
.logo {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #075936;
    font-size: 24px;
    margin-left: 4px;
}
.display {
    font-weight: 600;
    font-size: 32px;
    color: #393939;
    line-height: 40px;
}
.heading {
    font-weight: 600;
    font-size: 34px;
    color: #393939;
    line-height: 40px;
}
.heading-green {
    font-weight: 600;
    font-size: 34px;
    color: #075936;
    line-height: 40px;
}
.subHeading {
    font-weight: 600;
    font-size: 20px;
    color: #075936;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.body {
    font-weight: 400;
    font-size: 18px;
    color: #616161;
    line-height: 32px;
    text-align: justify;
}
.label {
    font-weight: 400;
    font-size: 14px;
    color: #616161;
    line-height: 16px;
}
.title-big{
    font-weight: 600;
    font-size: 24px;
    color: #393939;
    line-height: 36px;
}
.title-small{
    font-weight: 600;
    font-size: 24px;
    color: #393939;
    line-height: 36px;
}
.badge {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #616161;
    background: rgba(7, 89, 54, 0.2);
    border-radius: 100px;
    padding: 8px 16px;
    
}
.card-custom-img {
    width: 100%;
    height: 315px !important;
    object-fit: cover;
    object-position: center;
}
.card-title {
    font-weight: 700;
    font-size: 18px;
    color: #075936;
    line-height: 21px;
}
.card-sub {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #616161;
    line-height: 14px;
}
.footer-title {
    font-weight: 700;
    font-size: 18px;
    color: #075936;
    line-height: 27px;
}
.footer-sub {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #616161;
    line-height: 20px;
}
.card-title-custom {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
}
.button-custom {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #616161;
    background: rgba(7, 89, 54, 0.2);
    border-radius: 100px;
    padding: 8px 16px;
    transition: all 0.5s ease;
}
.button-custom:hover {
    color: #075936;
    background: rgba(7, 89, 53, 0.114);
    
}
/* END ASSETS */

#hero {
    background: rgba(7, 89, 54, 0.03);
}
#profil {
    background: #ffffff;
}
#footer-wrapper {
    background: #F2F2F2;
    border-radius: 20px;
}
.article-preview-big{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
.article-preview-small{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.img-about {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

/* START SWIPPER */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.swiper-carousel {
    border-radius: 1rem;
}
/* END SWIPPER */

/* START CARD */
.card-custom {
    background-color: #F2F2F2;
    border-radius: 0px 0px 20px 20px;
    height: 100px;
}
.rounded-custom-top {
    border-radius: 20px 20px 0px 0px;
}
.card-custom-overlay {
    position: relative;
    background-color: #000000;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.card-custom-overlay::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #000000 100%);
    position: absolute;
    bottom: 0;
}
.card-custom-caption {
    z-index: 1;
}
.card-custom-caption h5{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
/* START CARD */

.nav-link {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 24px;
    text-align: center;
}
.active {
    color: #075936 !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* START ASSETS */
    .logo {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        color: #075936;
        font-size: 24px;
        margin-left: 4px;
    }
    .display {
        font-weight: 600;
        font-size: 40px;
        color: #393939;
        line-height: 60px;
    }
    .heading {
        font-weight: 600;
        font-size: 36px;
        color: #393939;
        line-height: 54px;
    }
    .heading-green {
        font-weight: 600;
        font-size: 36px;
        color: #075936;
        line-height: 54px;
    }
    .subHeading {
        font-weight: 600;
        font-size: 20px;
        color: #075936;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    .body {
        font-weight: 400;
        font-size: 18px;
        color: #616161;
        line-height: 32px;
    }
    .label {
        font-weight: 400;
        font-size: 14px;
        color: #616161;
        line-height: 16px;
    }
    .title-big{
        font-weight: 600;
        font-size: 28px;
        color: #393939;
        line-height: 42px;
    }
    .title-small{
        font-weight: 600;
        font-size: 24px;
        color: #393939;
        line-height: 36px;
    }
    .badge {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #616161;
        background: rgba(7, 89, 54, 0.2);
        border-radius: 100px;
        padding: 8px 16px;
        
    }
    .card-custom-img {
        width: 100%;
        height: 315px !important;
        object-fit: cover;
        object-position: center;
    }
    .card-title {
        font-weight: 700;
        font-size: 18px;
        color: #075936;
        line-height: 21px;
    }
    .card-sub {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #616161;
        line-height: 14px;
    }
    .footer-title {
        font-weight: 700;
        font-size: 18px;
        color: #075936;
        line-height: 27px;
    }
    .footer-sub {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #616161;
        line-height: 20px;
    }
    .card-title-custom {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        line-height: 30px;
    }
    .button-custom {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #616161;
        background: rgba(7, 89, 54, 0.2);
        border-radius: 100px;
        padding: 8px 16px;
        transition: all 0.5s ease;
    }
    .button-custom:hover {
        color: #075936;
        background: rgba(7, 89, 53, 0.114);
        
    }
    /* END ASSETS */

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 24px;
        text-align: center;
    }
    .active {
        color: #075936 !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* START ASSETS */
    .logo {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        color: #075936;
        font-size: 24px;
        margin-left: 4px;
    }
    .display {
        font-weight: 600;
        font-size: 48px;
        color: #393939;
        line-height: 64px;
    }
    .heading {
        font-weight: 600;
        font-size: 40px;
        color: #393939;
        line-height: 52px;
    }
    .heading-green {
        font-weight: 600;
        font-size: 40px;
        color: #075936;
        line-height: 52px;
    }
    .subHeading {
        font-weight: 600;
        font-size: 20px;
        color: #075936;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    .body {
        font-weight: 400;
        font-size: 18px;
        color: #616161;
        line-height: 32px;
    }
    .label {
        font-weight: 400;
        font-size: 14px;
        color: #616161;
        line-height: 4px;
    }
    .title-big{
        font-weight: 600;
        font-size: 28px;
        color: #393939;
        line-height: 48px;
    }
    .title-small{
        font-weight: 600;
        font-size: 20px;
        color: #393939;
        line-height: 30px;
    }
    .badge {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #616161;
        background: rgba(7, 89, 54, 0.2);
        border-radius: 100px;
        padding: 8px 16px;
        
    }
    .card-custom-img {
        width: 100%;
        height: 315px !important;
        object-fit: cover;
        object-position: center;
    }
    .card-title {
        font-weight: 700;
        font-size: 18px;
        color: #075936;
        line-height: 21px;
    }
    .card-sub {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #616161;
        line-height: 14px;
    }
    .footer-title {
        font-weight: 700;
        font-size: 18px;
        color: #075936;
        line-height: 27px;
    }
    .footer-sub {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #616161;
        line-height: 20px;
    }
    .card-title-custom {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        line-height: 30px;
    }
    .button-custom {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #616161;
        background: rgba(7, 89, 54, 0.2);
        border-radius: 100px;
        padding: 8px 16px;
        transition: all 0.5s ease;
    }
    .button-custom:hover {
        color: #075936;
        background: rgba(7, 89, 53, 0.114);
        
    }
    /* END ASSETS */
    .nav-link {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 24px;
        margin-left: 56px;
    }
    .active {
        color: #075936 !important;
    }
    .nav-link:hover {
        font-weight: 500;
        font-size: 16px;
        color: #075936 !important;
        line-height: 24px;
        margin-left: 56px;
    }
}